@import url('https://fonts.googleapis.com/css2?family= IBM + Plex+Mono:wght@300 & display=swap');

body{
    margin: 15px;
    padding: 10px;
}

h1{
    font-size: 40px;
    text-align: center;
}

div{
    margin-top: 10px;
    
    font-size: 17px;
}

button{
    margin-top: 15px;
    font-size: 14px;
    border-radius: 7px;
    padding: 5px 9px;
    background-color: #61dbac;
}
button:hover{
    background-color: #95cce7;
}

img{
    width: 250px;
}

span{
    font-weight: bold;
    margin-top: 10px;
}
